<div class="feed-item-cont">
    xxx
    <div data-ng-if="'type_rss' === source.type">
        <div><span class="field-title">Id:</span> {{ source.id}}</div>
        <div><span class="field-title">Title:</span> {{ source.title}}</div>
        <div><span class="field-title">Link:</span> <a data-ng-href="{{ source.link}}">{{ source.link}}</a></div>
        <div><span class="field-title">Publish Time:</span> {{ source.publish_time}}</div>
        <div><span class="field-title">Created At:</span> {{ source.created_at}}</div>
        <div><span class="field-title">Updated At:</span> {{ source.updated_at}}</div>
    </div>
    <div data-ng-if="'type_twitter' === source.type">
        <div><span class="field-title">Id:</span> {{ source.id}}</div>
        <div><span class="field-title">Tweet Id:</span> {{ source.tweet_id}}</div>
        <div><span class="field-title">Link:</span> <a data-ng-href="{{ source.link}}">{{ source.link}}</a></div>
        <div><span class="field-title">Publish Time:</span> {{ source.publish_time}}</div>
        <div><span class="field-title">Created At:</span> {{ source.created_at}}</div>
        <div><span class="field-title">Updated At:</span> {{ source.updated_at}}</div>
    </div>
    <div class="feed-item-btns-cont">
        <a data-ng-href="{{ siteDomain + 'feed-source/' + source.type + '/' + source.source.id}}">view source</a>
    </div>
</div>
