<div data-ng-include="headerUrl"></div>
<h3>LIST SOURCES</h3>
<div><a data-ng-href="{{ siteDomain + 'feed-source/add' }}">add new feed source</a></div>
<div data-ng-if="true === loading">
    Loading ...
</div>
<div data-ng-if="false === loading">
    <div data-ng-repeat="source in sources" class="feed-item" data-ng-show="!source.deleted">
        <feed-source-item item="source"></feed-source-item>
    </div>
    <div data-ng-show="1 < total_pages">
        <button data-ng-click="first()">first</button> <button data-ng-click="prev()">prev</button> | {{ page }} of {{ total_pages }} | <button data-ng-click="next()">next</button> <button data-ng-click="last()">last</button>
    </div>
</div>
